.sec1{
    background-image: url(scarpbook.jpg);
    text-align: center;
    color: white;
    background-repeat:no-repeat ;
    background-size: cover;
   
}
.phone{
    background-color: rgba(0, 0, 0, 0.565);
    padding-top: 300px;
   
}
.scrapd{
  
}
.icon{
    margin-top: 200px;
}
.icon i{
    font-size: 50px;
    color: grey;
}

.inbox1{
margin: 80px 0;
}
.inbox2{
  text-align: left; 
padding: 100px;
}

.inbox3{
    text-align: center;
    color: white;
}

.sec2{
    padding: 20px 20;
}

.sec3{
     padding: 110px;
     margin-top: -100px;
}
.inbox5{
    text-align: center;
   
}

.inbox6{
text-align: center;
}


.inbox7{
    text-align: center;
}

.sec5{
    text-align: center;
    padding: 80px;
}

.inbox8{
    padding: 50px;
}


